/* The animation code */
@keyframes example {
    from {background-color: black;}
    to {
        background-color: rgb(181, 234, 255);
    }
}
  
@keyframes fly {
    0% {
        left: 100vw;
    }
    to {
        left: 30vw;
    }
}
.none{
    display: none;
}
.splash{
    background-color: rgb(181, 234, 255);
    position: absolute;
    z-index: 2000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    animation-name: example;
    animation-duration: 2s;
    

    .intro{
        height: 100vh;
        width: 100vw;
        text-align: center;
        img{
            position: absolute;
            left: 30vw;
            margin-top: 20vh;
            animation-name: fly;
            animation-duration: 2s;
        }
        h1{
            position: absolute;
            left: 35vw;
            margin-top: 80vh;
            font-size: 90pt;
            color: #9371bd;
            span{
                color: #39b4d8;
            }
        }
        @media only screen and (max-width: 500px){
            img{
                margin-top: 40vh;
            }
            h1{
                left: 35vw;
                margin-top: 60vh;
                font-size: xx-large;
            }
        }
    }
}