<div class="w3-card bar">
    <p class="w3-panel w3-lime qp">Queue</p>
    <div *ngFor="let song of files; let i = index" 
    class="w3-card" [ngClass]="{'active': i === currentIndex}" (click)="playSong(song, i)">
        <img [src]="song.img || './assets/imgs/audio.jpg'" alt="Alps" style="width:100%">

        <button class="w3-btn w3-circle w3-red" (click)="remove(song)">X</button>
    </div>
    
<!-- 
    <div class="w3-card">
        <img src="./assets/imgs/audio.jpg" alt="Alps" style="width:100%">
    </div> 
-->

    <div class="text-center">
        <button class="w3-button w3-red" (click)="clear()">Clear</button>
    </div>
</div>

